Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menu bar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menu bar, select Cell$\rightarrow$Run All).

Make sure that in addition to the code, you provide written answers for all questions of the assignment. 

Below, please fill in your name and collaborators:

In [1]:
NAME = "Hye Lim Lee"
COLLABORATORS = ""

## Assignment 2 - Data Analysis using Pandas
**(15 points total)**

For this assignment, we will analyze the open dataset with data on the passengers aboard the Titanic.

The data file for this assignment can be downloaded from Kaggle website: https://www.kaggle.com/c/titanic/data, file `train.csv`. It is also attached to the assignment page. The definition of all variables can be found on the same Kaggle page, in the Data Dictionary section.

Read the data from the file into pandas DataFrame. Analyze, clean and transform the data to answer the following question: 

**What categories of passengers were most likely to survive the Titanic disaster?**

**Question 1.**  _(4 points)_
* The answer to the main question - What categories of passengers were most likely to survive the Titanic disaster? _(2 points)_
* The detailed explanation of the logic of the analysis _(2 points)_

**Question 2.**  _(3 points)_
* What other attributes did you use for the analysis? Explain how you used them and why you decided to use them. 
* Provide a complete list of all attributes used.

**Question 3.**  _(3 points)_
* Did you engineer any attributes (created new attributes)? If yes, explain the rationale and how the new attributes were used in the analysis?
* If you have excluded any attributes from the analysis, provide an explanation why you believe they can be excluded.

**Question 4.**  _(5 points)_
* How did you treat missing values for those attributes that you included in the analysis (for example, `age` attribute)? Provide a detailed explanation in the comments.

Question 1. (4 points)

    The answer to the main question - What categories of passengers were most likely to survive the Titanic disaster? (2 points)
    The detailed explanation of the logic of the analysis (2 points)

Answer:
    
People who are female from the first class and 1~9 years old were most likely to have survived.
    
1. 63% of the people from the first class survived.
2. 74% of females survived.
3. The age groups between 20~29 and 30~39 had highest number of survivors which is 43% of the TOTAL number of the people but ratio wise, 61% of people between ages 1~9 had highest possibility of survivng.
4. SibSp and Parch were analyzed but the percentages between data are not significant so these attributes were not included in the result.
    
Question 2. (3 points)

    What other attributes did you use for the analysis? Explain how you used them and why you decided to use them.
    Provide a complete list of all attributes used.
    
Answer:

I used Pclass, Sex, Age, SibSp, Parch.

To analyze data, we need to know which attributes(columns) are the most affecting for surviving. If the percent differences of the ratio of the data is big from a certain attribute(column) then this attribute(column) affects the death or surviving results more clearly. From this logic, the Sex, Pclass, and Age attributes(columns) affect the result the most.

Question 3. (3 points)

    Did you engineer any attributes (created new attributes)? If yes, explain the rationale and how the new attributes were used in the analysis?
    If you have excluded any attributes from the analysis, provide an explanation why you believe they can be excluded.
    
Answer:

I included the 'possibility_by_age' attribute to analyze the ratio of survivors depending on the age group. This attribute was used because we need to consider that every age group can have different physical abilities but having similar physical abilities depending on the group of the age. For example, younger people are better at running or swimming or being helped.

Question 4. (5 points)

    How did you treat missing values for those attributes that you included in the analysis (for example, age attribute)? Provide a detailed explanation in the comments.
    
Answer:

The age, Cabin, and Embarked attributes have some missing values but only age was used in my analysis because 80% was already filled in. I didn't consider missing values for the age because I didn't think 20% was enough to change the result in my analysis.

For the Cabin attribute, only 23% of the data was filled in. This is not enough data to analyze survivors exactly.

For the Embarked attribute, I don't think it would affect the surviving rate because the ship was crashed in the middle of the Atlantic Ocean far from the ports.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv')

df.replace(u'\xa0', np.nan, regex=True, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [3]:
# The possibility of surviving depending on the passengerclass

df_original_pclass = df.groupby('Pclass')
a = df_original_pclass.count()['Survived']

g = df.groupby('Survived')

df_survived_group = g.get_group(1)
df_survived_group

df_pclass = df_survived_group.groupby('Pclass')

b = df_pclass.count()['Survived']

c = b/a

print(c)

possibility_by_pclass = df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)
possibility_by_pclass

# As the data shows, the first class has the highest possibility of surviving

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [4]:
# The possibility depending on the gender

df_sex = df_survived_group.groupby('Sex')
df_sex
df_sex.count()['Survived']

possibility_by_sex = df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)
possibility_by_sex

# As the data shows, the female has the higher possibility of surviving than the male

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [5]:
# The possibility of surviving depending on the Age group

# The Age group: 1~9 years old, 10~19 years old, 20~29 years old, 
# 30~39 years old, 40~49 years old, 50~59 years old, 60~69 years old, over 70 years old 

count00 = 0
count11 = 0
count22 = 0
count33 = 0
count44 = 0
count55 = 0
count66 = 0
count77 = 0

count0 = 0
count1 = 0
count2 = 0
count3 = 0
count4 = 0
count5 = 0
count6 = 0
count7 = 0

for i in df['Age']:
    
    if 0 < i < 10 :
        count00 +=1
    elif 10 <= i < 20:
        count11 +=1
    elif 20 <= i < 30:
        count22 +=1
    elif 30 <= i < 40:
        count33 +=1
    elif 40 <= i < 50:
        count44 +=1
    elif 50 <= i < 60:
        count55 +=1
    elif 60 <= i < 70:
        count66 +=1
    elif 70 <= i:
        count77 +=1

for i in df_survived_group['Age']:
    
    if 0 < i < 10 :
        count0 +=1
    elif 10 <= i < 20:
        count1 +=1  
    elif 20 <= i < 30:
        count2 +=1  
    elif 30 <= i < 40:
        count3 +=1
    elif 40 <= i < 50:
        count4 +=1
    elif 50 <= i < 60:
        count5 +=1
    elif 60 <= i < 70:
        count6 +=1
    elif 70 <= i:
        count7 +=1
        
      
possibility_by_age = [count0/count00, count1/count11, count2/count22, count3/count33, count4/count44, count5/count55, count6/count66, count7/count77]


print(count00, count11, count22, count33, count44, count55, count66, count77)           
print(count0, count1, count2, count3, count4, count5, count6, count7)

print(possibility_by_age)

# As the data shows, the age group 1~9 years old has the highest possibility of surviving

62 102 220 167 89 48 19 7
38 41 77 73 34 20 6 1
[0.6129032258064516, 0.4019607843137255, 0.35, 0.437125748502994, 0.38202247191011235, 0.4166666666666667, 0.3157894736842105, 0.14285714285714285]

In [8]:
# The number of survivors depending on if they have SibSp

df_sibsp = df_survived_group.groupby('SibSp')['Survived']
df_sibsp.count()

possibility_by_sibsp = df[['SibSp', 'Survived']].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)
possibility_by_sibsp

# As the data shows, the people who have 1 SibSp has the highest possibility of surviving

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [7]:
# The number of survivors depending on if they have Parch

df_parch = df_survived_group.groupby('Parch')['Survived']
df_parch.count()

possibility_by_parch = df[['Parch', 'Survived']].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)
possibility_by_parch

# As the data shows, the people who have 3 Parch has the highest possibility of surviving

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000